/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */
.debug header{
    background-color: #ADD8E6;
}
.debug .header-top{
    background-color: #DAA520;
    height: 50px;
}
.debug .col-big{
    background-color: #1E90FF;
}

.debug .col-small{
    background-color: #FFC0CB;
}
.debug .row{
    height: 500px;
}

.debug .hero{
    background-color: #00008B;
}
.debug .col-single{
    background-color: #EE82EE;
}
.debug .col-bigsingle{
    background-color: green;
}

.debug .row-bigsingle{
    height: 1000px;
}
/* COMMON */
.container{
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
header{
    padding: 18px 8px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MAIN */
section{
    padding: 40px 0px;
}

section:nth-child(2n){
    background-color: grey;
}

.row{
    display: flex;
}

.row-single{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.row-bigsingle{
    display: flex;
}

.col-big{
    width: 60%;
}

.col-small{
    width: 40%;
}

.col-single{
    height: 400px;
    width: 900px;
}

.col-bigsingle{
    width: 100%;
}